body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.body__block--center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: rgb(60,60,60);
  width: 70vw;
  height: 100vh;
}

.body__block--left, .body__block--right {
  width: 15vw;
  height: 100vh;
}

.body__block--left {
  background: rgb(49,71,190);
  background: linear-gradient(90deg, rgba(49,71,190,1) 0%, rgba(53,73,181,1) 23%, rgba(57,65,106,1) 71%, rgba(60,60,60,1) 100%);
}

.body__block--right {
  background: rgb(49,71,190);
  background: linear-gradient(270deg, rgba(49,71,190,1) 0%, rgba(53,73,181,1) 23%, rgba(57,65,106,1) 71%, rgba(60,60,60,1) 100%);  

}

.start {
  color: rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start__header {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

.start__p {
  margin: 0 10px 20px 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.start__button--start {
  background-color: rgb(49,71,190);
  color: rgb(216, 216, 216);
  height: 70px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 30px;
  border: none;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;

}

.start__button--start:hover {
  background-color: rgb(28, 46, 145);
  color: black;
}

.body__block--game {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 1250px;
  height: 630px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.game__rolls {
  margin-top: 35px;
  padding: 20px;
  width: 90%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.game__rolls--rolls img {
  border-radius: 5px;
}

/* =============== game module ===================*/

.game__service {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 1fr 50px; 
  text-align: center;
  font-size: 20px;
  color: rgb(216, 216, 216);
  border-radius: 8px;
}

.game__rolls__bonuslist {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game__rolls__bonuslist ul, .game__results ul {
  margin: 0px;
  padding: 0px;
}

.game__rolls__bonuslist ul li, .game__results ul li {
  list-style-type: none;
}

.game__rolls--start {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(216, 216, 216);
  border-radius: 5px;
  border-style: 1px solid rgb(216, 216, 216);
  font-size: 22px;
  font-weight: bold;
}

.game__rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
  grid-column: 3/4;
  grid-row: 2/3;
}

.game__rate p {
  margin: 5px;
}

.game__rate input {
  width: 100px;
  text-align: center;
  border-style: none;
  height: 22px;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(216, 216, 216);
  font-weight: bold;
}

.game__results {
  text-align: left;
  grid-column: 1/2;
  grid-row: 2/4;
  padding-top: 20px;
}

.game__results p {
  margin: 0;
}

.winning__result {
  grid-column: 2/3;
  grid-row: 2/3;
  font-weight: bold;
}


/* ======================== response settings ======================== */

@media all and (max-width: 1600px) {
  .game__rolls--rolls img, .game__rolls {
    height: 150px;
  }
  
  .body__block--game {
    height: 600px;
  }

}

@media all and (max-width: 1196px) {
  .game__rolls--rolls img, .game__rolls {
    height: 100px;
  }

  .game__service {
    font-size: 15px;
  }

  .body__block--game {
    height: 480px;
  }
}

@media all and (max-width: 850px) {
  .start__header {
    font-size: 30px;
  }

  .game__service {
    padding: 10px 10px;
    grid-template-rows: 50px 1fr 50px;
  }

  .game__rolls {
    margin-top: 10px;
  }

  .game__results {
    padding-top: 10px;
  }

}

@media all and (max-height: 500px) {
  .body__block--game {
    height: 100vh;
  }
  .game__service {
    padding: 10px 10px;
    grid-template-rows: 50px 1fr 50px;
  }

  .game__rolls {
    margin-top: 10px;
  }
}

@media all and (max-height: 400px) {
  .game__rolls--rolls img, .game__rolls {
    height: 80px;
    padding: 0px;
  }

  .game__service {
    font-size: 12px;
  }

  .body__block--game {
    height: 100vh;
  }
  .game__service {
    padding: 5px 5px;
    grid-template-rows: 50px 1fr 30px;
  }

  .game__rolls {
    margin-top: 5px;
  }

}